<section>
  <app-side-nav></app-side-nav>
  <article>
    <section class="header-orders">
      <h1>Orders</h1>
      <ul>
        <li ngClass="clicked" (click)="changeTrue()" >Pending</li>
        <li  ngClass="!clicked" (click)="changeFalse()">Ready</li>
      </ul>

    </section>
    <article  class="container-table" *ngIf="clicked">
      <app-order-table [item]="item" *ngFor="let item of itemPending"></app-order-table>
    </article>
    <article class="container-table" *ngIf="!clicked">
      <app-order-table [item]="item" *ngFor="let item of itemDelivering"></app-order-table>
    </article>

  </article>
</section>