@import '../../../styles'


section
  display: flex
  margin: 1rem

.header-orders
  display: flex
  justify-content: space-between
  width: 35rem
  align-items: center

h1
  text-align: center
  margin: 0
  font-weight: bold
  color: $primary-color

ul
  list-style: none
  display: flex

.list-item
  @include listElem

.clicked
  @include clicked

.container-table
  display: flex
  flex-wrap: wrap

.nav
  @include nav
