<section>
  <div class="nav">
    <app-side-nav></app-side-nav>
  </div>
  <article>
    <section class="header-orders">
      <h1>ORDERS</h1>
      <ul class="container-list">
        <li class="list-item" [ngClass]="{ 'clicked': clicked }" (click)="changeTrue()">Pending</li>
        <li class="list-item" [ngClass]="{ 'clicked': !clicked }" (click)="changeFalse()">Ready</li>
      </ul>

    </section>
    <article class="container-table" *ngIf="clicked">
      <app-order-table [item]="item" *ngFor="let item of itemPending"  (updateOrders)="updateOrders($event)"></app-order-table>
    </article>
    <article class="container-table" *ngIf="!clicked" >
      <app-order-table [item]="item" *ngFor="let item of itemDelivering" (updateOrders)="updateOrders($event)"></app-order-table>
    </article>
  </article>

</section>
