<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
  <article>
    <button (click)="openModalUsers(input)">Create</button>
    <input #input type="text" placeholder="Search User" (input)="handleSearch(input.value)">
  </article>
  <table>
    <tr>
    <th>Admin</th>
    <th>User Email</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
    <tr *ngFor="let user of users | searchUser:filterValue" >
      <td>{{user.roles.admin}}</td>
      <td>{{user.email}}</td>
      <td><i class="fa fa-edit" (click)="openModalUsers(users)" [ngClass]="{ 'clicked': clicked }"></i></td>
      <td><i class="fa fa-trash" (click)="deleteUser(users)" [ngClass]="{ 'clicked': !clicked }"></i></td>
    </tr>
  </table>
</section>
