<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
  <table>
    <tr>
    <th>Rol</th>
    <th>User Email</th>
    <th>User Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
    <tr>
      <td>user.rol</td>
      <td>user.email</td>
      <td>user.name</td>
      <td><i class="fa fa-edit"></i></td>
      <td><i class="fa fa-trash"></i></td>
    </tr>
    <tr>
      <td>user.rol</td>
      <td>user.email</td>
      <td>user.name</td>
      <td><i class="fa fa-edit"></i></td>
      <td><i class="fa fa-trash"></i></td>
    </tr>
    <tr>
      <td>user.rol</td>
      <td>user.email</td>
      <td>user.name</td>
      <td><i class="fa fa-edit"></i></td>
      <td><i class="fa fa-trash"></i></td>
    </tr>
  </table>
</section>
