<section>
    <app-users-pop *ngIf="activeUser"  (closeModalUser)="closeModalUser()" (createUser)="createUser($event)"></app-users-pop>
    <app-product-pop *ngIf="activeProducts"  (closeModalProduct)="closeModalProduct()" (createtProduct)="createtProduct($event)"></app-product-pop>
  <div class="nav">
    <app-side-nav></app-side-nav>
  </div>
  <section class="container">
    <article class="container-header">
      <h1>MANAGE</h1>
      <ul class="container-list">
        <li class="list-item" [ngClass]="{ 'clicked': clicked }" (click)="changeTrue()">Users</li>
        <li class="list-item" [ngClass]="{ 'clicked': !clicked }" (click)="changeFalse()">Products</li>
      </ul>
    </article>
    <article *ngIf="clicked" class="article">
      <app-manageUsers-table [users]="users" (openModalUser)="openModalUser($event)" (createUser)="createUser($event)" (deleteUserById)="deleteUserById($event)"></app-manageUsers-table>
    </article>
    <article *ngIf="!clicked">
      <app-manage-products-table (deleteProductById)="deleteProductById($event)" [products]="products" (openModalProducts)="openModalProducts($event)" (createtProduct)="createtProduct($event)"></app-manage-products-table>
    </article>
  </section>
</section>
