<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
  <form class="additionalInfo">
    <h1 >Order Menu</h1>
  <div>
    <label for="name" >Client Name</label>
    <input type="text" #client   class="inputName">
  </div>
  </form>
</section>
<section class="infoProduct">
<div class="div1">
<table id="customers" >
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let product of productitem">
    <td class="widthMax">{{product.product.name}}</td>
    <td class="width">{{product.product.price | currency}}</td>
    <td>
      <div class="cuantity-button">
      <button class="button-circle" (click)="addProduct(product)">+</button>
      <p class="cuantity">{{product.qty}}</p>
      <button class="button-circle" (click)="removeProduct(product)">-</button>
    </div>
    </td>
    <td class="width"><i class="fa fa-trash"  (click)="deleteProduct(product)"></i></td>
  </tr>
  </table>
</div>
  </section>
  <div class="container">
    <div class="row">
      <span>
        Subtotal:
      </span>
      <h3>
        {{total - total *0.18 | currency}}
      </h3>
    </div>
    <div class="row">
    <span>
      Tax:
    </span>
    <h3>
      {{total *0.18 | currency}}
    </h3>
  </div>
  <div class="row">
    <span>
      Total:
    </span>
    <h2>
      {{total | currency}}
    </h2>
  </div>
  </div>
  <section>
  <div class="info">
    <button class="buttonSend" (click)="client.value ==='' || !total  || newOrderProduct(client)" [ngClass]="{'active': able}">SEND ORDER</button>
  </div>
</section>
