<section>
  <article>
    <h1>Order Menu</h1>
    <label for="name">Client Name</label>
    <input type="text" #nameClient>
    <h3>Type Order</h3>
    <label for="TypeOrder">
      <input type="radio" name="TypeOrder" value="Delivery">
      Delivery
    </label>
    <label for="TypeOrder">
      <input type="radio" name="TypeOrder" value="Table">Table</label>
  </article>
</section>
<section>
<table id="customers">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Monto</th>
  </tr>
  <tr *ngFor="let i of selectProduct">
    <td>{{i.name}}</td>
    <td>{{i.price}}</td>
    <td>
      <div class="cuantity-button">
      <button class="boton"><a href="#">+</a></button>
      <p class="cuantity">2</p>
      <button class="boton"><a href="#">-</a></button>
    </div>
    </td>
    <td>20</td>
    <td><button class="" (click)="deleteItem(i)">eliminar</button></td>
  </tr>
  </table>
  </section>
