<section>
  <article>
    <h1>Order Menu</h1>
    <label for="name">Client Name</label>
    <input type="text" #nameClient>
    <h3>Type Order</h3>
    <label for="TypeOrder">
      <input type="radio" name="TypeOrder" value="Delivery">
      Delivery
    </label>
    <label for="TypeOrder">
      <input type="radio" name="TypeOrder" value="Table">Table</label>
  </article>
</section>
<section>
<table id="customers">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Monto</th>
  </tr>
  <tr *ngFor="let object of productitem">
    <td>{{object.products}}</td>
    <td>3</td>
    <td>
      <div class="cuantity-button">
      <button class="boton" (click)="addItem(object)"><a>+</a></button>
      <p class="cuantity">20</p>
      <button class="boton" (click)="removeItem(object)"><a>-</a></button>
    </div>
    </td>
    <td>20</td>
    <td><button class="" >eliminar</button></td> <!-- (click)="deleteProduct()" -->
  </tr>
  </table>
  </section>
