$primary-color: #CA3A28
$secondary-color: #ffff
$terciary-color:#212121


$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6)
$limit: 10
$unit: 8px

$font-family: roboto
$font-size: 15px article

.subtitle
  margin: 20px

.additionalInfo
  display: flex
  flex-direction: column

.info
  margin: 7px

//Quantity boton
.cuantity-button
  display: flex
p
  margin: 8px
  font-size: 13px
  font-weight: 500
  align-self: center
  justify-content: center


.boton
  width: 30px
  height: 30px
  background-color: $primary-color
  margin: 4px
  border-radius: 50px
  border-color: $primary-color


  &:hover
    background-color: #e45947

  a
   color: $secondary-color
   text-decoration: none
   font-weight: bold
   font-size: 20px

//table order menu

#customers
  font-family: Arial, Helvetica, sans-serif
  border-collapse: collapse
  width: 100%
  text-align: center
  align-items: center

#customers
  td, th
  padding: 8px

#customers
  tr
    &:nth-child(even)
      background-color: $secondary-color
      border: ridge

#customers
  tr
    &:hover
      background-color: #ece9e9


#customers
  th
    padding-top: 12px
    padding-bottom: 12px
    background-color: $secondary-color
    color: $terciary-color

// div Table

.div1
  overflow: scroll
  height:350px

#div1 table
  width:500px

//button

.buttonSend
  outline: 0
  cursor: pointer
  position: relative
  display: inline-block
  width: 100%
  background: $secondary-color
  border: 2px solid $primary-color
  padding: 20px 0
  font-size: 20px
  font-weight: 600
  line-height: 1
  overflow: hidden
  transition: 0.3s ease
  color: $primary-color
  border-radius: 3px

.buttonSend
  &:hover
    background: $primary-color
    color: $secondary-color

