<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
  <article>
    <button class="create-button" (click)="openModalProduct(input)">Create</button>
    <input #input type="text" placeholder="Search Product" (input)="handleSearch(input.value)">
  </article>
  <table class="container-table">
    <tr>
      <th class="table-body table-header">Product </th>
      <th class="table-body table-header">Price</th>
      <th class="table-body table-header">Type</th>
      <th class="table-body table-header">Update</th>
      <th class="table-body table-header">Delete</th>
    </tr>
    <tr *ngFor="let product of products | searchProduct:filterValue">
      <td class="table-body">{{product.name}}</td>
      <td class="table-body">${{product.price}}</td>
      <td class="table-body">{{product.type}}</td>
      <td class="table-body"><i class="fa fa-edit" (click)="openModalProduct(product)" [ngClass]="{ 'clicked': clicked }"></i></td>
      <td class="table-body"><i class="fa fa-trash" (click)="deleteProduct(product)" [ngClass]="{ 'clicked': !clicked }"></i></td>
    </tr>
  </table>
</section>
