<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
  <article>
    <button>Create</button>
    <input type="text" placeholder="Search Product">
  </article>
  <table>
    <tr>
      <th>Product </th>
      <th>Price</th>
      <th>Type</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>agua</td>
      <td>$7</td>
      <td>drink</td>
      <td><i class="fa fa-edit"></i></td>
      <td><i class="fa fa-trash"></i></td>
    </tr>
    <tr>
      <td>Burger</td>
      <td>$15</td>
      <td>brunch</td>
      <td><i class="fa fa-edit"></i></td>
      <td><i class="fa fa-trash"></i></td>
    </tr>
    <tr>
      <td>chips</td>
      <td>$5</td>
      <td>:)</td>
      <td><i class="fa fa-edit"></i></td>
      <td><i class="fa fa-trash"></i></td>
    </tr>
  </table>
</section>