<main>

  <h1>Welcome to Burger Queen</h1>
  <section class="section" >
    <article >
      <img src="assets/burger.png" alt="Burger-logo">
    </article>
    <article>
    <form action="">
      <label for="email-input">Email </label>
      <input type="email" name="email" id="email-input" placeholder="example@gmail.com" required>
      <label for="password-input">Password</label>
      <input type="password" name="password" id="password-input" placeholder="Password" required>
      <button type="submit">Start</button>
    </form>
  </article>
</section>
</main>