<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
</head>
<main>
  <section class="container-login" >
    <article class="welcome">
      <h1>Welcome to Burger Queen</h1>
    </article>
    <article class="login">
    <figure class="figure-login">
      <img src="assets/burger.png" alt="Burger-logo">
    </figure>
    <form action="" class="form-login color-login">
      <h2 class="center">Let's start</h2>
      <div class="input-container">
        <input type="email" name="email" id="email-input"  required>
        <label for="email-input">Email </label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" name="password" id="password-input" required>
        <label for="password-input">Password</label>
        <div class="bar"></div>
      </div>
      <div class="input-container-element">
        <select name="rol-login">
          <option>Waiter</option>
          <option>Chef</option>
          <option>Manager</option>
          </select>
      </div>
      <div class="input-container-element"><button type="submit">START</button></div>
    </form>
  </article>
</section>
</main>
