<section id="open-modal" class="modal-window">
  <article class='container-form'>
    <button title="Close" class="modal-close" (click)="closeModalUsers()">Close</button>
    <form class='form-update'>
      <h1>Table Users</h1>
      <div class="input-container">
        <input #admin type="text" name="product" class="input">
        <label class="label">Admin</label>
      </div>
      <div class="input-container">
        <input #email type="email" name="price" class="input" min="0">
        <label class="label">Email</label>
      </div>
      <div class="input-container-element">
        <p class="error"></p>
        <div class="buttons">
          <button class="button" (click)="createUsers(admin, email)">Save</button>
        </div>
      </div>
    </form>
  </article>
</section>

