<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section id="open-modal" class="modal-window">
  <article class='container-form'>
    <button title="Close" class="modal-close" (click)="closeModalUsers()">Close</button>
    <form class='form-update' [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <h1>Table Users</h1>
      <div class="input-container">
        <input
        [class.is-invalid]="myForm.get('email').touched && myForm.get('email').invalid"
        type="email"
        class="input"
        min="0"
        autocomplete="off"
        formControlName="email">
        <label class="label">Email</label>
        <i class="fa fa-times icon" [class.is-invalidIcon]="myForm.controls['email'].invalid && myForm.controls['email'].touched"></i>
      </div>
      <div class="input-container">
        <input
        [class.is-invalid]="myForm.get('password').touched && myForm.get('password').invalid"
        type="password"
        class="input"
        min="0"
        autocomplete="off"
        formControlName="password">
        <label class="label">Password</label>
        <i class="fa fa-times icon" [class.is-invalidIcon]="myForm.controls['password'].invalid && myForm.controls['password'].touched"></i>
      </div>
      <div class="input-container">
        <div class="caja">
          <select  formControlName="rol" class="selectItem">
            <option value="" disabled>Manager rol</option>
            <option *ngFor="let rol of admin">{{rol}}</option>
          </select>
         </div>
        </div>
      <div class="input-container-element">
        <div class="buttons">
          <button type="submit" [disabled]="myForm.invalid" class="button">Save</button>
        </div>
      </div>

    </form>
  </article>
</section>

