<div class='container'>
  <form class='form-update' (submit)="savenew(admin, email)">
    <h1>Update users</h1>
    <div class="input-container">
      <input #admin type="input" name="product" class="input">
      <label  class="label">Admin</label>
      <div class="bar"></div>
    </div>
    <div class="input-container">
      <input #email type="input" name="price" class="input">
      <label class="label">Email</label>
      <div class="bar"></div>
    </div>
    <div class="input-container-element">
      <p class="error"></p>
      <div class="buttons">
        <button class="button">Cancel</button>
        <button class="button" type="submit">create</button>
      </div>
    </div>
  </form>
</div>
