<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
</head>
<main class="container">
  <section class="container-login">
    <article class="welcome">
      <h1>WELCOME TO BURGER QUEEN</h1>
    </article>
    <article class="login">
      <figure class="figure-login">
        <img src="assets/images/burgerAndMore.png" alt="Burger-logo">
      </figure>
      <form class="form-login color-login" [formGroup]="form">
        <h2 class="center">Let's start</h2>
        <div class="input-container">
          <input type="email" name="email" formControlName="email">
          <label class="email-input">Email </label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input type="password" name="password" formControlName="password">
          <label class="password-input">Password</label>
          <div class="bar"></div>
        </div>
        <div class="input-container-element">
          <p *ngIf="error" class="error">{{errorMessage}}</p>
          <button [disabled]="form.invalid" class="button" (click)="login()">Start</button>
        </div>
      </form>
    </article>
  </section>
</main>
