<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
</head>
<section  class="category-cards">
  <div *ngFor="let dishCateg of dishCategories" class="example-card">
  <img class="image" src='../assets/images/burger.png' (click)='hola(p)' alt="Burger">
  <a #p
  routerLink="/waiter"
  [queryParams]="{category:dishCateg}">
  {{dishCateg}}
</a>
</div>
</section>
<section  class="category-cards">
<mat-card *ngFor="let a of filterProducts" class="example-cardC">
  <div>
    <p>{{a.name}}</p>
  </div>
  <img class="imageC" src='../assets/images/burger.png'alt="Burger">
    <p class="card-price">
      {{a.price}}
    </p>
  <div class="cuantity-button">
    <button class="boton"><a href="#">+</a></button>
    <p class="cuantity">hola</p>
    <button class="boton"><a href="#">-</a></button>
  </div>
</mat-card>
</section>


