<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
</head>
<section class="category-cards">
  <div *ngFor="let category of dishCategories"  (click)="filterbyCateg(category)"  class="example-card">
    <h2 >{{category}}</h2>
</div>
</section>
<h2 class="subtitle">OPTIONS</h2>
<section class="option-cards">
  <article class="container-card"  *ngFor="let product of products"
  (click)="GetProduct(product)">
  <div class="divElement">
    <div class="typeElement">
      <p>{{product.type}}</p>
    </div>
      <p class="p">{{product.name}}</p>
    <img class="imageLogo" src={{product.image}} alt={{product.name}}>
  </div>
  <div class="card-price">
    <p >
      {{product.price | currency}}
    </p>
  </div>
  </article>
</section>
