<section id="open-modal" class="modal-window">
    <article class='container-form'>
      <button title="Close" class="modal-close" (click)="closeModalProduct()">Close</button>
      <form class='form-update'>
        <h1>Update products</h1>
        <div class="input-container">
          <input #product type="text" name="product" class="input">
          <label class="label">product</label>
        </div>
        <div class="input-container">
          <input #price type="number" name="price" class="input" min="0">
          <label class="label">Price ($)</label>
        </div>
        <div class="input-container">
          <input #type type="text" name="type" class="input" >
          <label class="label">Type</label>
        </div>
        <div class="input-container">
          <input #image type="text" name="type" class="input" >
          <label class="label">URL image</label>
        </div>
        <div class="input-container-element">
          <p class="error"></p>
          <div class="buttons">
            <button class="button" (click)="createOneProduct(product, price, type, image)">create</button>
          </div>
        </div>
      </form>
    </article>
</section>
