$primary-color: #CA3A28
$secondary-color: #ffff
$terciary-color:#212121


$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6)
$limit: 10
$unit: 8px

$font-family: roboto
$font-size: 15px article

.menu
  display: flex
  margin: 20px

.dishes
  width: 60%
  margin-top: 20px
.nav
  width: 20%
  margin: 20px

.order
  width: 30%
  margin: 20px

.subtitle
  margin: 20px


.buttonSend
  outline: 0
  cursor: pointer
  position: relative
  display: inline-block
  width: 100%
  background: $secondary-color
  border: 2px solid $primary-color
  padding: 20px 0
  font-size: 20px
  font-weight: 600
  line-height: 1
  overflow: hidden
  transition: 0.3s ease
  color: $primary-color
  border-radius: 3px

.buttonSend
  &:hover
    background: $primary-color
    color: $secondary-color

